/* this file contains the colors for the 'default' theme */

body{
	background-color: black;
	color: white;
}
a { color: white; }



 /* border for the video display */
.videoDisplay {
	border-color: #333;
	background-color: black;
}


.heading-bar, .Text-bar, .horizLayout, .settingsIcon:after, .progressBar {
	background: #333;
}

 /* inactive hover color */
.Text-bar a:hover, .heading-bar a:hover, a:hover .settingsIcon:after, a:hover {
	background-color: #777;
}

 /* active color */
.Text-bar .active, .heading-bar .active {
	background-color: white;
	color: black;
}

 /* active hover color */
.Text-bar .active:hover, .heading-bar .active:hover, .progressBarFill {
	background-color: #777; /* pantone 2145 */
}


.slider { border-color: black; }
.slider input[type=range]::-webkit-slider-thumb, .slider::-webkit-slider-thumb,
.timeline input[type=range]::-webkit-slider-thumb, .timeline::-webkit-slider-thumb {
	background-color: #ddd;
	border-color: black;
}
.slider::-moz-range-thumb {
	background-color: #ddd;
	border-color: black;
}

 /* drop-down button colors */
.selectContainerHolder {
	background-color: white;
	color: black;
}
.selectContainerHolder.disabled {
	background-color: #1a1a1a;
	color: white;
}

 /* the drop-down triangle color */
.selectContainerHolder:after {
	border-top-color: black;
}

 /* drop-down list colors */
.selectContainer a, .selectContainer .downloadListItem {
	color: black;
	background-color: white;
}

 /* drop-down list hover color */
.selectContainer a:hover {
	background-color: #aaa;
}

 /* menu drop-down colors */
.menuContainer a {
	background-color: white;
	color: black;
}

 /* menu drop-down item list background color */
.menuContainer a:hover {
	background-color: #ddd;
}

input[type="number"]{
	background-color: black;
	color: white;
}

 /* when a number is invalid, use this color drop-shadow (outline) */
input[type=number]:invalid{ box-shadow: 0 0 3px 3px #a00; }

input[type="text"], input[type="password"]{
	background-color: black;
	color: white;
}

 /* button in a settings panel */
.button {
	background-color: white;
	color: black;
}

.button:hover {
	background-color: #aaa; /* active hover color */
}


.matchBackground {
	color: black;
}


.overlayButtons a {
	background-color: #333;
}
.overlayButtons a:hover {
	background-color: #777;
}

a.innerDropDown.active {
	background-color: #ddd;
}
a.innerDropDown.active:hover {
	background-color: #aaa;
}
.innerDropDownList a, .innerDropDownList .downloadListItem {
	background-color: #ddd;
}


.smallPercentBar { background: black; }
.smallPercentBarFill { background: #ddd; }



/****** Page specifics *******/

#record.active {
	background-color: #a00;
	color: white;
}
#record.active:hover { background-color: #800; }
#record.disabled { background-color: #1a1a1a; }


#sensorBackground {
	background-color: #1a1a1a;
	border-color: #1a1a1a;
}

#sensorWindow {
	background-color: #777;
	border-color: #aaa;
}

#startEndFill {
	background-color: #777;
}






/******** Icons ********/


.battery {
	border-color: white;
}
.battery:before {
	border-color: white;
	background-color: white;
}

#chargeIcon, #chargeIcon:after {
	border-top-color: black; /* lightning icon triangle color */
}


.recordCircle { /* circle to indicate record button */
	background-color: #a00;
}
.recordSquare { /* square to indicate record button */
	background-color: black;
}


 /* menu Icon inactive color */
.menuIcon, .menuIcon:before, .menuIcon:after {
	background-color: white; /* menu icon center bar */
}

 /* menu Icon active color */
.active .menuIcon, .active .menuIcon:before, .active .menuIcon:after{
	background-color: black;
}


 /* Icon colors (inactive) */
.homeIcon, .saveIcon, .settingsIcon, .settingsIcon:before, .helpIcon {
	background-color: white;
}
.playIcon {	border-left-color: white; }
.homeIcon:after { border-bottom-color: white; }
.ioIcon, .ioIcon:before, .ioIcon:after { border-color: white; }

 /* Icon masking color (inactive) */
.saveIcon:after { border-top-color: #333; }
.ioIcon, .ioIcon:before, .ioIcon:after { background-color: #333; }

 /* Icon masking color (hover) */
a:hover .saveIcon:after { border-top-color: #777; }
a:hover .ioIcon, a:hover .ioIcon:before, a:hover .ioIcon:after { background-color: #777; }

  /* Icon colors (active) */
.active .homeIcon, .active .saveIcon, .active .settingsIcon, .active .settingsIcon:before { background-color: black; }
.active .homeIcon:after { border-bottom-color: black; }
.active .playIcon { border-left-color: black; }
.active .ioIcon, .active .ioIcon:before, .active .ioIcon:after { border-color: black; }

 /* Icon masking colors (active) */
.active .saveIcon:after { border-top-color: white; }
.active .settingsIcon:after, .active .ioIcon, .active .ioIcon:before, .active .ioIcon:after { background-color: white; }

 /* Icon masking colors (active, hover) */
.active:hover .saveIcon:after { border-top-color: #777; }
.active:hover .settingsIcon:after, .active:hover .ioIcon, .active:hover .ioIcon:before, .active:hover .ioIcon:after { background-color: #777; }


a.innerDropDown:before { /* folder drop-down triangle inside drop-down */
	border: 7px solid transparent;
	border-left: 10px solid black;
}
a.innerDropDown.active:before {
	border: 7px solid transparent;
	border-top: 10px solid black;
}


.ioStatus.true { border-bottom-color: white; }
.ioStatus.false { border-top-color: black; }



.linesIn, .linesIn:before, .linesOut, .andGateIcon:before, .andGateIcon:after {
	border-top-color: white;
}
.linesIn, .linesIn:before, .linesIn:after, .linesOut, .andGateIcon:before {
	border-bottom-color: white;
}
.linesIn:before, .linesIn:after, .linesOut:before, .andGateIcon:after {
	border-right-color: white;
}
.orGateIcon:after, .xorGateIcon:after {
	border-left-color: white;
}
.linesOut:after, .orGateIcon, .orGateIcon:before, .andGateIcon, .xorGateIcon, .xorGateIcon:before {
	background-color: white;
}

.andGateIcon:before {
	background-color: #333;
}


.downloadIcon {
	border-bottom-color: black;
}
.downloadIcon:before {
	border-top-color: black;
}
.downloadIcon:after {
	background-color: black;
}

.deleteIcon:before, .deleteIcon:after {
	border-color: black;
}
.deleteIcon {
	border-top-color: black;
}











 /* reference for the Kron & Chronos colours */
.colourHolder {
	/* Kron light blue */
	color: #3D87CB; /* pantone 2143 */

	/* Kron mid blue */
	color: #0067B9; /* pantone 2144 */

	/* Kron blue */
	color: #004EA8; /* pantone 2145 */

	/* Kron gray */
	color: #9C9687; /* pantone 402 */
}








